<p>
  <b>Gaid:</b>
  <%=h @gadmin.gaid %>
</p>

<p>
  <b>Uid:</b>
  <%=h @gadmin.uid %>
</p>

<p>
  <b>Gid:</b>
  <%=h @gadmin.gid %>
</p>


<%= link_to 'Edit', edit_gadmin_path(@gadmin) %> |
<%= link_to 'Back', gadmins_path %>