<div class="right_float_containter">    
    <% form_tag :action => 'process_login' do %>
      AndrewID: <%= text_field "user", "andrewID" %> 
      Password: <%= password_field "user", "encryptedPassword" %>
      <%= submit_tag "Login" %>
    <% end %>
</div>

  
<p>
	<%= link_to "groups", :controller => 'groups', 
						  :action => 'index'%>
</p>

<p>
	<%= link_to "candidates", :controller => 'candidates', 
						  :action => 'index'%>
</p>

<p>
	<%= link_to "users", :controller => 'user', 
						  :action => 'login'%>
</p>

