<h1>Editing voters</h1>

<% form_for(@voters) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :vid %><br />
    <%= f.text_field :vid %>
  </p>
  <p>
    <%= f.label :uid %><br />
    <%= f.text_field :uid %>
  </p>
  <p>
    <%= f.label :vflag %><br />
    <%= f.text_field :vflag %>
  </p>
  <p>
    <%= f.label :gid %><br />
    <%= f.text_field :gid %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @voters %> |
<%= link_to 'Back', voters_path %>