<h1>User#login</h1>
<p>Find me in app/views/user/login.html.erb</p>

<% if flash[:message] %><div><%= flash[:message] %></div><% end %>
  
  <% if flash[:error] %><div><%= flash[:error] %></div><% end %>
    
    <% form_tag :action => 'process_login' do %>
      AndrewID: <%= text_field "user", "andrewID" %>&#x00A; 
      Password: <%= password_field "user", "encryptedPassword" %>&#x00A; 
      <%= submit_tag "Login" %>
    <% end %>