<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Posts: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body style="background: #EEEEEE;">
<div style="width: 760px; margin-left: auto; margin-right: auto;">

<% if flash[:message] %><p style="color: green"><%= flash[:notice] %></p><% end %>
<% if flash[:message] %><p style="color: blue"><%= flash[:message] %></p><% end %>
<% if flash[:message] %><p style="color: red"><%= flash[:error] %></p><% end %>
 <div class="login">    
    <% form_tag :action => 'process_login' do %>
      AndrewID: <%= text_field "user", "andrewID", :size =>15 %> 
      Password: <%= password_field "user", "encryptedPassword", :size =>15 %>
      <%= submit_tag "Login" %>
    <% end %>
</div>
	<h1>SERVS</h1>
	<h2>&nbsp&nbsp&nbsp Secure Electronic Remote Voting System </h2>

<%= yield %>

<div style="text-align: center;" id="footer">
<%= link_to "Home", @home %> |<%= link_to "Carnegie Mellon University", "http://www.cmu.edu", {:target => "_blank"} %>  | Contact Us | Site Map | About Us
</div>
</div>
</body>
</html>
